In [97]:
import pandas as pd
import os
import glob
import numpy as np

In [98]:
main_dir = r"C:\Users\pc\Desktop\yeni modeller\25-01-2023 BKD Hs Kucuk\0.5 1"
os.chdir(main_dir)

In [99]:
# MODELLERİN İSİMLERİNİ TANIMLA
model_name = "0.5 1" # TRIAD modellerde excels[0]'ı değiştirmeyi unutma

In [100]:
def readx():
    print("A")

In [101]:
space = ["Hs"]*17 # Just for concat func.
df_space = pd.DataFrame({'Hs': space}).transpose() # Just for concat func.

In [102]:
models = os.listdir()
for m in models: #for loop for entering all model folders
    os.chdir(os.path.join(main_dir,m))
    excels = glob.glob("*xlsx")
    df = pd.read_excel(excels[0]) #excels[0] is Default.xlsx excels[1] is Default+TRIAD.xlsx (Doesn't matter for measurement values but important for SWAN values.)
    measurement_values = ["Measurements",excels[0][0:8]]
    for t in range(len(df.iloc[59:60,3:19].values.flatten())): #for loop for debugging 'array in array' issue
        measurement_values.append(df.iloc[59:60,3:19].reset_index(drop=True).values.flatten().astype('float64')[t])
    df_space = pd.concat([df_space, pd.DataFrame({'Measurements': measurement_values}).transpose()], axis=0)
    os.chdir(main_dir)

In [103]:
df_space = df_space.reset_index(drop=True)
df_meas = df_space.dropna(thresh=17) # If there are any missed values, remove those rows.
df_meas= df_meas.iloc[1:, :] # Remove unneccessary first row
df_meas # Measurement DF to print to excel file

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
1,Measurements,09010100,NaN,0.513592,0.457256,0.397097,0.425902,0.418907,0.428004,0.39847,0.378794,0.367741,0.374712,0.379858,0.386795,0.366284,0.355904,0.346063
2,Measurements,09010400,NaN,0.466725,0.420398,0.37483,0.393128,0.39068,0.388268,0.36989,0.345845,0.339377,0.341103,0.335389,0.348812,0.33,0.317979,0.326015
3,Measurements,09010700,NaN,0.167855,0.390755,0.328954,0.364937,0.375399,0.350528,0.348445,0.319195,0.305522,0.309859,0.30939,0.319796,0.30271,0.288176,0.286951
4,Measurements,09011000,NaN,0.330412,0.382145,0.325473,0.36126,0.363454,0.334738,0.333804,0.303098,0.298033,0.295067,0.302196,0.305668,0.296481,0.292734,0.274641
6,Measurements,09011600,NaN,0.414244,0.409451,0.400345,0.420966,0.447423,0.437382,0.415613,0.369493,0.36885,0.359153,0.388711,0.393188,0.390632,0.361324,0.398524
7,Measurements,09011900,NaN,0.327161,0.401732,0.362809,0.399176,0.418075,0.388824,0.383618,0.337871,0.322819,0.328715,0.320869,0.3363,0.328873,0.305395,0.31669
8,Measurements,09012200,NaN,0.277166,0.492062,0.458648,0.495474,0.54575,0.516022,0.510953,0.441485,0.468423,0.447948,0.49459,0.526944,0.483195,0.428221,0.481936
9,Measurements,09150100,NaN,0.588418,0.581388,0.465149,0.436183,0.535912,0.446558,0.484472,0.493705,0.411467,0.485555,0.447758,0.418478,0.397253,0.415093,0.373264
10,Measurements,09150400,NaN,0.58128,0.528774,0.427141,0.398602,0.491218,0.403484,0.45001,0.447921,0.388446,0.451881,0.405992,0.395654,0.376981,0.385528,0.348913
11,Measurements,09150700,NaN,0.352302,0.50288,0.453583,0.404165,0.502919,0.406133,0.503924,0.449862,0.449396,0.451439,0.401607,0.392512,0.410549,0.390806,0.376852
14,Measurements,09151600,NaN,0.498516,0.557375,0.405566,0.41034,0.486522,0.409534,0.488499,0.429517,0.420893,0.474396,0.41218,0.39894,0.418854,0.403411,0.373324
15,Measurements,09151900,NaN,0.4795,0.548117,0.446706,0.41352,0.484187,0.44139,0.498019,0.471637,0.443901,0.453262,0.41651,0.400705,0.401027,0.402684,0.377588
16,Measurements,09152200,NaN,0.431828,0.550001,0.452913,0.438487,0.491769,0.461651,0.498291,0.503942,0.445175,0.461184,0.448935,0.434096,0.42532,0.42479,0.41788
17,Measurements,09210100,NaN,0.393813,0.731047,0.662822,0.664109,0.692249,0.699602,0.69764,0.746275,0.75065,0.794576,0.754986,0.72877,0.717418,0.712908,0.695832
18,Measurements,09210400,NaN,0.734471,0.867879,0.809289,0.8337,0.84835,0.855809,0.843937,0.843834,0.835453,0.845882,0.851664,0.812377,0.838452,0.823635,0.945844
19,Measurements,09210700,NaN,0.829973,0.913344,0.847268,0.854082,0.892062,0.88219,0.880661,0.870584,0.846246,0.871682,0.849418,0.8151,0.849016,0.801218,0.887629
20,Measurements,09211000,NaN,0.667012,0.826695,0.766844,0.776026,0.799455,0.801442,0.791149,0.817919,0.786658,0.835008,0.802533,0.778411,0.776045,0.750154,0.880937

In [104]:
space = ["Hs"]*17 # Just for concat func.
df_space2 = pd.DataFrame({'Hs': space}).transpose() # Just for concat func.
models = os.listdir()
for m2 in models: #for loop for entering all model folders
    os.chdir(os.path.join(main_dir,m2))
    excels = glob.glob("*xlsx")
    df = pd.read_excel(excels[0]) #excels[0] is Default.xlsx excels[1] is Default+TRIAD.xlsx !!!! IMPORTANT
    model_values = ["SWAN", excels[0][0:8] + ' ' + model_name]
    for t2 in range(len(df.iloc[5:6,3:19].values.flatten())): # for loop for debugging 'array in array' issue
        model_values.append(df.iloc[5:6,3:19].reset_index(drop=True).values.flatten().astype('float64')[t2])
    df_space2 = pd.concat([df_space2, pd.DataFrame({'SWAN': model_values}).transpose()], axis=0)
    os.chdir(main_dir)
model_values = [excels[0][0:7] + ' ' + excels[0][9:12]]
df_space2 = df_space2.reset_index(drop=True)
df_space2 = df_space2.iloc[1:, :] # Remove unneccessary first row
drop_idx = df_space2[~df_space2.index.isin(df_meas.index)].index # Drop the values didn't include DF of measurements
df_SWAN = df_space2.drop(drop_idx) # Drop the values didn't include DF of measurements
df_SWAN # Measurement DF to print to excel file

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
1,SWAN,09010100 0.5 1,NaN,0.499747,0.450409,0.405707,0.404688,0.400299,0.398517,0.397771,0.397319,0.396826,0.395828,0.368368,0.362032,0.361161,0.357534,0.344977
2,SWAN,09010400 0.5 1,NaN,0.46268,0.418105,0.377951,0.377027,0.373123,0.371516,0.370865,0.370452,0.36999,0.369109,0.344719,0.339188,0.338426,0.33527,0.324771
3,SWAN,09010700 0.5 1,NaN,0.382532,0.356477,0.329189,0.32852,0.325638,0.324444,0.323959,0.323647,0.323314,0.322632,0.303315,0.298615,0.297953,0.295191,0.285185
4,SWAN,09011000 0.5 1,NaN,0.371858,0.345103,0.317485,0.316792,0.313893,0.312682,0.312195,0.311893,0.311555,0.310865,0.291468,0.286753,0.286085,0.283304,0.273102
6,SWAN,09011600 0.5 1,NaN,0.488234,0.449772,0.419706,0.419083,0.416539,0.415509,0.415083,0.414782,0.414502,0.41394,0.401935,0.400149,0.399917,0.399106,0.397747
7,SWAN,09011900 0.5 1,NaN,0.380102,0.360679,0.341179,0.340725,0.338766,0.337958,0.337628,0.337414,0.337195,0.336747,0.324747,0.322105,0.321754,0.320257,0.315213
8,SWAN,09012200 0.5 1,NaN,0.509024,0.493596,0.481629,0.481395,0.480511,0.480172,0.480026,0.479925,0.479846,0.479704,0.478228,0.478738,0.478863,0.479373,0.481215
9,SWAN,09150100 0.5 1,NaN,0.610156,0.497552,0.461609,0.460479,0.454527,0.45301,0.452275,0.451728,0.450967,0.446361,0.410099,0.401802,0.399982,0.39366,0.371912
10,SWAN,09150400 0.5 1,NaN,0.552624,0.459261,0.427932,0.426918,0.421682,0.420312,0.419699,0.419197,0.418526,0.414444,0.381987,0.374501,0.372819,0.367118,0.347264
11,SWAN,09150700 0.5 1,NaN,0.533514,0.475229,0.450846,0.450035,0.445681,0.44453,0.444011,0.443581,0.443036,0.439528,0.410322,0.403156,0.401523,0.395914,0.375396
14,SWAN,09151600 0.5 1,NaN,0.581307,0.487844,0.455721,0.454706,0.44931,0.447912,0.447255,0.446745,0.44608,0.441855,0.408416,0.400689,0.398956,0.393031,0.372038
15,SWAN,09151900 0.5 1,NaN,0.507641,0.459822,0.439362,0.438684,0.435013,0.434045,0.433599,0.433248,0.432798,0.429839,0.405203,0.399159,0.397786,0.393041,0.375625
16,SWAN,09152200 0.5 1,NaN,0.56225,0.512092,0.489682,0.488915,0.48483,0.48375,0.483263,0.482857,0.48234,0.479038,0.4508,0.443744,0.442122,0.436529,0.415764
17,SWAN,09210100 0.5 1,NaN,0.794284,0.749728,0.723739,0.722811,0.719647,0.718755,0.718014,0.717148,0.716547,0.715407,0.698452,0.695949,0.695344,0.694087,0.694622
18,SWAN,09210400 0.5 1,NaN,1.055013,0.993424,0.966305,0.965191,0.961828,0.960505,0.959229,0.957637,0.956616,0.955151,0.944851,0.943585,0.942887,0.940971,0.945247
19,SWAN,09210700 0.5 1,NaN,0.912321,0.975439,0.919754,0.917905,0.911834,0.910084,0.908479,0.906641,0.905414,0.903306,0.879655,0.877445,0.877,0.876194,0.88717
20,SWAN,09211000 0.5 1,NaN,0.986934,0.923229,0.893313,0.89219,0.888696,0.88756,0.886518,0.885338,0.884535,0.883211,0.87119,0.870593,0.870478,0.870352,0.880294

In [105]:
meas_row = 5
swan_row = df_meas.shape[0] + meas_row + 1

In [106]:
writer = pd.ExcelWriter('Compare_Model_Results.xlsx', engine='xlsxwriter')

df_meas.to_excel(writer, sheet_name='Sheet1', startrow=meas_row, startcol=1)
df_SWAN.to_excel(writer, sheet_name='Sheet1', startrow=swan_row, startcol=1)

workbook  = writer.book
worksheet = writer.sheets['Sheet1']



### END of Sensor Chart ###


merge_format = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'fg_color': '#c6e2ff'})
merge_format2 = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'fg_color': '#97ffff'})
merge_format3 = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'fg_color': '#DAEEF3'})
merge_format4 = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'fg_color': '#FFFFFF',
    'font_size': 20})
merge_format5 = workbook.add_format({
    'bold': 1,
    'border': 1,
    'align': 'center',
    'valign': 'vcenter',
    'fg_color': '#FCD5B4'})


worksheet.merge_range('AD1:AF1', 'DENEME', merge_format2)
#worksheet.merge_range('A8:B8', '', merge_format2)
#worksheet.merge_range('C1:S1', 'Spectral Analysis Parameters according to SWAN Wave Model Results', merge_format)
#worksheet.merge_range('C12:S12', 'SWAN Wave Model Results in Different Locations', merge_format)
#worksheet.merge_range('C55:S55', 'Spectral Analysis Parameters according to Sensor Spectrum Data', merge_format5)
#worksheet.merge_range('C66:S66', 'Sensor Spectrum Data in Different Locations', merge_format5)

#worksheet.merge_range('AJ1:AL1', 'Bottom Profile', merge_format3)
####### Model Parameters ########


worksheet.write('AK2', "White Capping")


#####################################################

### locations of sensors ###

#worksheet.merge_range('A44:B44', 'Locations of Sensors', merge_format2)
#worksheet.write('A45', "p02")
#worksheet.write('B45', p02[1] + " (" + str(p02[0]) + ", 0)")

#worksheet.write('A46', "p03")
#worksheet.write('B46', p03[1] + " (" + str(p03[0]) + ", 0)")


### END of locations of sensors ###

worksheet.set_zoom(85)
#worksheet.set_column('A:B', 21)
#worksheet.set_column('C:C', 11)
#worksheet.set_column('T:T', 2.55)
#worksheet.set_column('AJ:AJ', 3.55)
#worksheet.set_column('AK:AK', 4)


#worksheet.merge_range('A17:B24', 'Model ' + date, merge_format4)


writer.save()

In [107]:
writer.close()

C:\Users\pc\anaconda3\lib\site-packages\xlsxwriter\workbook.py:336: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [108]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 78BF-2C1B

 Directory of C:\Users\pc\Desktop\yeni modeller\25-01-2023 BKD Hs Kucuk\0.5 1

25.01.2023  17:57    <DIR>          .
25.01.2023  17:57    <DIR>          ..
25.01.2023  17:57            12.851 Compare_Model_Results.xlsx
25.01.2023  17:52    <DIR>          model_09010100 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:03    <DIR>          model_09010400 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:04    <DIR>          model_09010700 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:07    <DIR>          model_09011000 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:09    <DIR>          model_09011300 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:10    <DIR>          model_09011600 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:12    <DIR>          model_09011900 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:14    <DIR>          model_09012200 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:15    <DIR>          model_09150100 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:28    <DIR>          model_09150400 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:30    <DIR>          model_09150700 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:31    <DIR>          model_09151000 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:33    <DIR>          model_09151300 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:35    <DIR>          model_09151600 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:36    <DIR>          model_09151900 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:39    <DIR>          model_09152200 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:41    <DIR>          model_09210100 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:42    <DIR>          model_09210400 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:51    <DIR>          model_09210700 BKD 0.5 1.0 7.59 -8.06 8.09
25.01.2023  17:53    <DIR>          model_09211000 BKD 0.5 1.0 7.59 -8.06 8.09
               1 File(s)         12.851 bytes
              22 Dir(s)  11.993.292.800 bytes free